body {
    background: #f4f1ed;
    font-family: serif;
}

/* ヘッダー */
.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background: #fff;
}

.logo {
    color: #7a6a56;
}

.header-btn {
    border: 1px solid #d5c7b8;
    background: #fff;
    padding: 5px 15px;
}

/* タイトル */
.title {
    text-align: center;
    margin: 30px 0;
    color: #7a6a56;
}

/* 検索 */
.search-form {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.search-form input,
.search-form select {
    padding: 8px;
}

/* ボタン */
.search-btn {
    background: #7a6a56;
    color: #fff;
    border: none;
    padding: 8px 15px;
}

.reset-btn {
    padding: 10px 18px;
    background-color: #EFEAE6;
    color: #8B7969;
    border: 1px solid #D6CFC9;
    font-size: 14px;
    cursor: pointer;
}
.reset-btn:hover {
    background-color: #E2D9D2;
}

/* テーブル */
.table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    background: #fff;
}

.table th {
    background: #8b7d6b;
    color: #fff;
    padding: 10px;
}

.table td {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

/* 詳細 */
.detail-btn {
    border: 1px solid #d5c7b8;
    background: #fff;
}

/* エクスポートボタン */
.export-btn {
    margin: 20px 10%;
    padding: 8px 20px;
    background: #f4f1ed;
    border: 1px solid #d5c7b8;
    cursor: pointer;
}

/*モーダル表示*/
.modal {
    display: none;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background: #fff;
    width: 40%;
    margin: 10% auto;
    padding: 20px;
    border-radius: 5px;
}

.close {
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.delete-btn {
    background: #c0392b;
    color: #fff;
    border: none;
    padding: 10px 25px;
    margin-top: 20px;
    cursor: pointer;
}
