/* ==============================
Confirm ページ全体
============================== */
.confirm-wrapper {
    width: 900px;
    margin: 0 auto;
}

/* タイトル */
.confirm-title{
    border: 1px solid #d5c7b8;
    padding: 5px 15px;
    text-decoration: none;
    color: #7a6a56;
    font-size: 14px;
}

/* ヘッダー */
.confirm-header {
    text-align: center;
    margin: 40px 0 30px;
}

.site-title {
    font-size: 28px;
    margin-bottom: 10px;
}

.page-title {
    font-size: 18px;
}

/* =========================
テーブル外枠
========================= */
.confirm-table-wrapper{
    max-width: 900px;/* 表の横幅 */
    margin: 0 auto;
}

/* ==============================
確認テーブル
============================== */
.confirm-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #e5e5e5;
}

.confirm-table th,
.confirm-table td {
    padding: 16px 20px;
    font-size: 14px;
    border-bottom: 1px solid #e5e5e5;
}

/* 左側（項目名） */
.confirm-table th {
    width: 30%;
    background-color: #c4b6a8;
    color: #fff;
    font-weight: normal;
    text-align: left;
}

/* 右側（入力値） */
.confirm-table td {
    width: 70%;
    background-color: #fff;
    color: #8b7b6b;
}

/* ==============================
ボタンエリア
============================== */
.confirm-btn-area {
    text-align: center;
}

/* 送信ボタン */
.confirm-btn {
    background-color: #7a6a5c;
    color: #ffffff;
    border: none;
    padding: 12px 40px;
    font-size: 15px;
    border-radius: 4px;
    cursor: pointer;
}

/* 修正ボタン */
.confirm-back {
    margin-left: 30px;
    background: none;
    border: none;
    color: #7a6a5c;
    font-size: 15px;
    cursor: pointer;
}

.confirm-back:hover {
    text-decoration: underline;
}

.confirm-btn:hover {
    background-color: #5d4f43;
}

/*ボタン位置調整*/
.confirm__btn-wrapper{
    display: flex;
        justify-content: center;
        /* 横方向中央 */
        align-items: center;
        gap: 30px;
        /* ボタン間の余白 */
        margin-top: 40px;
}